@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    font-family: 'Roobert';
} */

@font-face {
    font-family: 'Roobert';
    src: url("~/static/fonts/Roobert-Regular.woff") format("woff"),url("~/static/fonts/Roobert-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Charter';
    src: url('~/static/fonts/Charter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('~/static/fonts/Charter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

.font-title {
    font-family: 'Roobert';
    letter-spacing: -0.01em;
}
